.footer{
  background-color: $dark-blue-color;
  padding-top: 80px;
  &__body{
    display: grid;
    grid-template-columns: 840px 264px
  }
  &-block{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
  &-title{
    color: $white-color;
    font-family: "Literata",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &-item{
    margin-bottom: 20px;
  }
  &-link{
    font-family: "Gilroy",sans-serif;
    font-weight: 500;
    color: rgba($white-color, 0.6);
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;

  }
  &-label{
    font-family: "Gilroy",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $white-color;
    display: inline-block;
    margin-bottom: 30px;
  }
  &-form{
    margin-bottom: 30px;
    position: relative;
    &__input{
      min-width: 269px;
      min-height: 50px;
      border-radius: 55px;
      padding-left: 25px;
      border: none;
      &::placeholder{
        font-family: "Gilroy",sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: rgba($dark-blue-color,0.7);
      }
    }
    &__button{
      position: absolute;
      top:0;
      right: 17px;
    }
  }
  &-small{
    font-family: "Gilroy",sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: rgba($white-color,0.6);
    display: inline-block;
    margin-bottom: 41px;
  }
  &-social{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darken($dark-blue-color, 2%);
    display: flex;
    justify-content: center;
    align-items: center;
    &__block{
      display: flex;
      flex-wrap: wrap;
    }
  }
  &-bottom{
    padding: 22px 0;
    background-color: darken($dark-blue-color, 3%);
    &__block{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &__link{
      position: relative;
      text-decoration: none;
      display: inline-block;
      color: rgba($white-color, 0.6);
      margin-right: 30px;
      &::after{
        content: '';
        display: inline-block;
        width: 2px;
        height: 100%;
        background-color: rgba($white-color, 0.6);
        position: absolute;
        right: -15px;
      }
      &:last-child{
        &::after{
          display: none;
        }
      }
    }

  }
  &-logo{
    margin-right: 75px;
  }
  &-copyright{
    font-family: "Gilroy",sans-serif;
    font-size: 14px;
    line-height: 80px;
    color: rgba($white-color,0.6);
    margin-right: 30px;
  }
}