.products{
  margin: 80px 0;
  &-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &-text{
    max-width: 335px;
    padding-top: 32px;
  }
  &__title{
    font-family: "Literata" ,sans-serif;
    color: $dark-blue-color;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__text{
    font-family: "Gilroy",sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $gray-dark-color;
    margin-bottom: 40px;
    letter-spacing: 0.03em;
  }
  &__button{
    text-decoration: none;
    display: inline-block;
    max-width: 205px;
    padding:  18px 23px;
  }
  &-cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(238px, 1fr));
    grid-column-gap: 20px;
  }
}
.card{
  &__link{
    text-decoration: none;
    color: $dark-blue-color;
  }
  &__img{
    margin-bottom: 9px;
  }

  &-content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    &-wrapper{
      max-width: 198px;
    }

    &__name{
      font-family: "Gilroy",sans-serif;
      margin-bottom: 10px;
    }
    &__full-price{
      color: $blue-sky-color;
      text-decoration: line-through;
      display: inline-block;
      margin-left: 10px;
    }
  }
}